# DO NOT COPY THIS CONFIG - this is the CI config for the ci repository itself,
# IT IS NOT THE CI CONFIG FOR PACKS.
# The sample pack CI config is .circle/config.yml.sample
version: 2

jobs:
  test_py27:
    docker:
      - image: circleci/python:2.7

    working_directory: ~/repo

    environment:
      VIRTUALENV_DIR: "~/virtualenv"

    steps:
      - checkout
      # - restore_cache:
      #     key: v1-dependency-cache-{{ checksum "requirements.txt" }}
      - run:
          name: Download and Install Dependencies
          command: |
            git clone -b "${CI_BRANCH:-master}" git://github.com/stackstorm-exchange/ci.git ~/ci
            git clone --depth 1 --single-branch --branch "${LINT_CONFIGS_BRANCH:-master}" https://github.com/StackStorm/lint-configs.git ~/ci/lint-configs
            sudo pip install -U "pip>=9.0,<9.1" setuptools virtualenv pyyaml
            virtualenv ~/virtualenv
            ~/virtualenv/bin/pip install flake8 pylint pyyaml
      - run:
          name: Check YAML file syntax
          command: >
            find . \( -name '*.yml' \
                   -o -name '*.yml.sample' \
                   -o -name '*.yaml' \
                   -o -name '*.yaml.sample' \) \
                   -print | \
            xargs -I "{}" python -c 'import yaml; yaml.safe_load(open("{}").read())'
      - run:
          name: Check Bash file syntax
          command: |
            find . -name '*.sh' | xargs bash -n
            grep -lrE '^#!/bin/bash' | xargs bash -n
            grep -lrE '^#!/usr/bin/env sh' . | xargs sh -n\
      - run:
          name: Check Python files
          command: |
            ~/virtualenv/bin/flake8 --config=~/ci/lint-configs/python/.flake8-exchange
            find . -name '*.py' | xargs ~/virtualenv/bin/pylint --rcfile=~/ci/lint-configs/python/.pylintrc
      - run:
          name: Check Makefile syntax
          command: |
            find . -name Makefile | xargs make -n
      # - save_cache:
      #     key: v1-dependency-cache-{{ checksum "requirements.txt" }}
      #     paths:
      #       - ~/.cache/pip
      #       - ~/.apt-cache
      # - persist_to_workspace:
      #     root: /
      #     paths:
      #       - home/circleci/ci
      #       - home/circleci/virtualenv
      #       - home/circleci/repo
      #       - home/circleci/.gitconfig

  test_py36:
    docker:
      - image: circleci/python:3.6

    working_directory: ~/repo

    environment:
      VIRTUALENV_DIR: "~/virtualenv"

    steps:
      - checkout
      # - restore_cache:
      #     key: v1-dependency-cache-{{ checksum "requirements.txt" }}
      - run:
          name: Download and Install Dependencies
          command: |
            git clone -b "${CI_BRANCH:-master}" git://github.com/stackstorm-exchange/ci.git ~/ci
            git clone --depth 1 --single-branch --branch "${LINT_CONFIGS_BRANCH:-master}" https://github.com/StackStorm/lint-configs.git ~/ci/lint-configs
            sudo pip install -U "pip>=9.0,<9.1" setuptools virtualenv pyyaml
            virtualenv ~/virtualenv
            ~/virtualenv/bin/pip install flake8 pylint pyyaml
      - run:
          name: Check YAML file syntax
          command: >
            find . \( -name '*.yml' \
                   -o -name '*.yml.sample' \
                   -o -name '*.yaml' \
                   -o -name '*.yaml.sample' \) \
                   -print | \
            xargs -I "{}" python -c 'import yaml; yaml.safe_load(open("{}").read())'
      - run:
          name: Check Bash file syntax
          command: |
            find . -name '*.sh' | xargs bash -n
            grep -lrE '^#!/bin/bash' | xargs bash -n
            grep -lrE '^#!/usr/bin/env sh' . | xargs sh -n\
      - run:
          name: Check Python files
          command: |
            ~/virtualenv/bin/flake8 --config=~/ci/lint-configs/python/.flake8-exchange
            find . -name '*.py' | xargs ~/virtualenv/bin/pylint --rcfile=~/ci/lint-configs/python/.pylintrc
      - run:
          name: Check Makefile syntax
          command: |
            find . -name Makefile | xargs make -n
      # - save_cache:
      #     key: v1-dependency-cache-{{ checksum "requirements.txt" }}
      #     paths:
      #       - ~/.cache/pip
      #       - ~/.apt-cache
      # - persist_to_workspace:
      #     root: /
      #     paths:
      #       - home/circleci/ci
      #       - home/circleci/virtualenv
      #       - home/circleci/repo
      #       - home/circleci/.gitconfig

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - test_py27
      - test_py36
