machine:
  services:
    - rabbitmq-server

checkout:
  post:
    - git clone -b master git@github.com:stackstorm-exchange/ci.git ~/ci
    - git clone --depth 1 --single-branch --branch master https://github.com/StackStorm/st2.git /tmp/st2

dependencies:
  override:
    - ~/ci/.circle/dependencies

test:
  override:
    - ~/ci/.circle/test

deployment:
  index:
    branch: master
    owner: StackStorm-Exchange
    commands:
      - ~/ci/.circle/deployment
